.clothing {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 19px;
}

.clothing__cards-wrapper {
  list-style: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 328px;
  border-radius: 5%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.clothing__card-items {
  display: flex;
  justify-content: center;
  max-height: 328px;
}

.clothing__card-title-wrapper {
  position: absolute;
  display: flex;
}

.clothing-card-title {
  margin: 16px 0 0 0;
  padding: 0 12px;
  text-align: center;
  font-family: 'Familjen Grotesk', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
  border-radius: 4px;
}

.clothing__card-like-button-inactive {
  background: transparent url('../../images/heart.svg') center no-repeat;
  border: none;
  width: 21px;
  height: 18px;
  cursor: pointer;
  margin: 16px 0 0 10px;
}

.clothing__card-like-button-active {
  background: transparent url('../../images/heart-active.svg') center no-repeat;
  border: none;
  width: 21px;
  height: 18px;
  cursor: pointer;
  margin: 16px 0 0 10px;
}

.clothing-card-individual {
  border-radius: 5%;
  width: 328px;
  height: 328px;
}

.clothing-card-individual:hover {
  cursor: pointer;
}

#clothing__card-items_Sneakers {
  position: relative;
  width: 328px;
  height: 328px;
  background-color: #e9e9e9;
  border-radius: 5%;
}

#clothing-card-individual_Sneakers {
  position: absolute;
  top: 51px;
  left: 51px;
  width: 226px;
  height: 226px;
}
