@font-face {
  font-family: 'Familjen Grotesk';
  src: url(../../../public/fonts/FamiljenGrotesk-Regular.ttf);
}

.header {
  font-family: 'Familjen Grotesk', sans-serif;
  display: flex;
  margin: 32px 0 28px 0;
  justify-content: space-between;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
}

.header__section {
  display: flex;
  align-items: center;
}

/* -------------------------------------------------------------------------- */
/*                             Left side of header                            */
/* -------------------------------------------------------------------------- */
.header__section-left {
  gap: 24px;
}

/* -------------------------------------------------------------------------- */
/*                            Right side of header                            */
/* -------------------------------------------------------------------------- */
.header__section-right {
  gap: 12px;
}

.header__add-clothes-button {
  font-family: 'Familjen Grotesk', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  margin-right: 20px;
  width: 124px;
  height: 36px;
  border: none;
  border-radius: 4px;
  background-color: #000;
}

.header__add-clothes-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.avatar__picture {
  border-radius: 50%;

  background-color: #000;
}
