.footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Familjen Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-top: 170px;
}
